<div id="left">
	<div id="btnresize" class="btnresize" onmousedown="startresizediv(event, this);"></div>


	<% if @mode == nil or @mode == "" or @mode == "folder" %>
		<%= @htmlrepertoire %> 
	<% else %>
		<form onsubmit="startloader();" id="formtestgorep" action="../sheets/index" method="post">
		  <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
		  <input type="hidden" name="mode" id="mode" value="folder"/>  
		  <input type='hidden' name='sheettype' value='<%= @sheettype %>'/>
		  <input type="submit" class="btnmodefolder" title="<%= t('ecr_test.mode_folder') %>" value="" ></input>
		</form>    
		<%= render :partial => 'sheets/filter' %>
		<%= @htmlliste %>
	<% end %> 
</div>
	
	
<script>
<% if @sheet != nil %>
    surligne_selected('treesheet<%= @sheet.id %>', 'treetest');
<%end%>
</script>

<script type="application/javascript"> 
	<%if @sheettype != 'workflow'%>
		openfolder = localStorage.getItem("alfyft<%= @sheettype %>repertoiredisplayed"); 
		if (openfolder == null) {localStorage.setItem("alfyft<%= @sheettype %>repertoiredisplayed","");openfolder = localStorage.getItem("alfyft<%= @sheettype %>repertoiredisplayed");}
		<% if @sheet != nil %>
			sheetname = document.getElementById('spant<%= @sheet.id %>').parentNode.parentNode.getAttribute("name");
			openfolder = openfolder.replace("$" + sheetname + "$",""); 
			openfolder += "$" + sheetname + "$";
		<% end %>
		topenfolder = openfolder.split("$$");
		for (i=0;i<topenfolder.length;i++) {
			element = topenfolder[i].replace("$","").replace("$","");
			elements = document.getElementsByName(element);
			for (j=0;j<elements.length;j++) {
				  elements[j].style.display='block';
			}
			if (document.getElementById("signe"+element)!=null) {
				  document.getElementById("signe"+element).innerHTML="<b>-&nbsp;&nbsp;</b>";
			} 
		}
	<%end%>
    if (getCookie("<%= @sheettype %>sheet_or_folder_to_paste") != "") {
		elements = document.getElementsByName('btnpaste');
		for (i=0;i<elements.length;i++) {
			elements[i].style.display = 'inline';
		}
    }
    superposetestfilter();
</script>  