<div id="left">
	<div id="btnresize" class="btnresize" onmousedown="startresizediv(event, this);"></div>

	<form method="post">
		<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
		<table >
		  <tr>
			  <td><input size=20 type="text" spellcheck='false' name="sname" id="sname" value="<%= @sname %>" class="recherche" placeholder="<%= t('input.placeholder.recherche') %>"/></td>
			  <td><input value="" name="search" type="submit" class="btnsearch" vertical-align="middle" onclick="startloader();document.getElementById('namec').required=false;"/></td>
		  </tr>
		</table>
		<% if @configurationvariables != nil
		@configurationvariables.each do |configurationVariable| %>
		<a class="ligthline" id="configurationvariable<%=configurationVariable.id%>" href="../configuration_variables/getone?varid=<%= configurationVariable.id %>" onclick='startloader();'><%= configurationVariable.name %><%  if configurationVariable.is_deletable == 0 %><div class='marqueprivate' style='float: left;' title='<%= t('ecr_variable_conf.variable_systeme_titre') %>'></div><% end %><img style="float: right;" src="/assets/icones/btnedit1.png" title="<%= t('editer') %>"/></a>
		<%  end 
		end%>
	</form>
    
</div>

<script async type="application/javascript"> 
    <% if @configurationvariable != nil %>
    surligne_selected("configurationvariable<%= @configurationvariable.id %>", "ligthline");
    <% end %>
</script>     