<span class="titleStyle" style="color:#161616"><b>&nbsp;&nbsp;<%= t('ecr_appium_cap.nouvel_conf_appium_cap') %>&nbsp;&nbsp;</b></span> 
            <br>
<div style="display: inline-block">
<div style="display: inline">
<form onsubmit="startloader();" class="new_appium_cap" id="new_appium_cap" action="/appium_caps" accept-charset="UTF-8" data-remote="true" method="post" style="display: inline;margin-left: 7px;">
 <input  pattern="[A-Za-z0-9_]{2,50}" maxlength='50' onKeyUp="formatascode(this)" required size=40 class='inputboxlist' type="text" spellcheck='false' name="name" id="appium_cap_appium_cap_name" placeholder="<%= t('nom') %>" title="<%= t('ecr_appium_cap.format_titre') %>"/>

 <textarea spellcheck='false' class='inputboxlist' name="description" id="appium_cap_appium_cap_description" rows='1' cols='100' placeholder="<%= t('description') %>"></textarea>
<% if @can_manage_env_variable == 1 %>
  <input type="submit" class="btnadd" title="<%= t('ajouter') %>" value="" ></input><% end %>
</form>  
  <button class="btnsearch" onclick="startloader();searchenv();" title="<%= t('chercher') %>"></button>
</div>
</div>	  
    
<form id="formsearch" action="../appium_caps/index" method="post">
	<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
    <input type="hidden" name="description" id="searchdesc" value=""/>
    <input type="hidden" name="name" id="searchname" value=""/>   
</form>   