<br>
<br>

    <% if @createproject==true %>
		<div class="welcomeMessage">
        <p ><%= link_to @messageaccueil, { :controller => :projects, :action => :index} %></b></p>
		</div>
    <% else %>
	<div id="scrollablecontent">
		<div class="welcomeMessage">
        <p ><%= @messageaccueil %><b><%= @projectname %></b></p> 
		</div>
		
	<%if @selectedproject != nil %>
	<div class="welcomediv">
	<div class="welcomedivlink">
            <img src="/assets/icones/menuadmin.png" style="padding-left:20px;"/><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../roles/index" <% end %> onclick='startloader();'><%= t('menu.roles') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../users/index" <% end %> onclick='startloader();'><%= t('menu.utilisateurs') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../computers/index" <% end %> onclick='startloader();'><%= t('menu.machines') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../versions/index" <% end %> onclick='startloader();'><%= t('menu.archives') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../listes/index" <% end %> onclick='startloader();'><%= t('menu.listes') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../sheets/index?sheettype=workflow&mode=folder" <% end %> onclick='startloader();'><%= t('menu.workflow') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../type_fiches/index" <% end %> onclick='startloader();'><%= t('menu.type_fiches') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../kanbans/parametrize" <% end %> onclick='startloader();'><%= t('menu.kanban_config') %></a></li><br>
	</div>
	<div class="welcomedivlink">
            <img src="/assets/icones/menuparametrer.png" style="padding-left:20px;"/><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../projects/index" <% end %> onclick='startloader();'><%= t('menu.projets') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../releases/index" <% end %> onclick='startloader();'><%= t('menu.releases') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../environnements/index" <% end %> onclick='startloader();'><%= t('menu.environnements') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../environnement_variables/index" <% end %> onclick='startloader();'><%= t('menu.env_variables') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../appium_caps/index" <% end %> onclick='startloader();'><%= t('menu.configuration_appium') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../appium_cap_values/index" <% end %> onclick='startloader();'><%= t('menu.capabilities_appium') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../configuration_variables/index"<% end %> onclick='startloader();'><%= t('menu.variables_conf') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../data_sets/index" <% end %> onclick='startloader();'><%= t('menu.data_sets') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../data_set_variables/index" <% end %> onclick='startloader();'><%= t('menu.data_set_variables') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../test_constantes/index"<% end %> onclick='startloader();'><%= t('menu.constantes_de_test') %></a></li><br>
	</div>
	<div class="welcomedivlink">
            <img src="/assets/icones/menuconcevoir.png" style="padding-left:20px;"/><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../actions/index"<% end %> onclick='startloader();'><%= t('menu.actions_unitaires') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../sheets/index?sheettype=conception_sheet&mode=folder" <% end %> onclick='startloader();'><%= t('menu.feuilles_conception') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../funcandscreens/index" <% end %> onclick='startloader();'><%= t('menu.fonctions_et_ecrans') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../tests/index" <% end %> onclick='startloader();'><%= t('menu.tests') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../tests/index?atddsteps=1" <% end %> onclick='startloader();'><%= t('menu.atddsteps') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../sheets/index?sheettype=test_suite&mode=folder" <% end %> onclick='startloader();'><%= t('menu.suites_de_tests') %></a></li><br>
	</div>
	<div class="welcomedivlink">
            <img src="/assets/icones/menuexecuter.png" style="padding-left:20px;"/><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../default_user_configs/index" <% end %> onclick='startloader();'><%= t('menu.configuration_par_defaut') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../campains/index" <% end %> onclick='startloader();'><%= t('menu.campagnes') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../runs/index" <% end %> onclick='startloader();'><%= t('menu.runs') %></a></li><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../campains/cover" <% end %> onclick='startloader();'><%= t('menu.couverture') %></a></li><br>
	</div>
	<div  class="welcomedivlink">
            <img src="/assets/icones/menukanban.png" style="padding-left:20px;"/><br>
	  <li class="welcomeLinks"><a class="welcomeLinks" <% if @selectedproject!= nil %>href="../kanbans/index" <% end %> onclick='startloader();'><%= t('menu.kanban') %></a></li><br>
	</div>
	</div>	
	<% end %>
	</div>
		
    <% end  %>


