<thead>
	<tr >
		<% if @campainname == nil%>
		  <th name="thresizable" class="tablethreport"><div class="divgrip" onmousedown="startresize(event, this.parentNode)">&nbsp;</div><%= t('campagne') %></th>
		<%end%>
		  <% if @popup == "true"%>
		  <th name="thresizable" class="tablethreport"><div class="divgrip" onmousedown="startresize(event, this.parentNode)">&nbsp;</div><%= t('version') %></th>
		<%end%>
		<th name="thresizable" class="tablethreport"><div class="divgrip" onmousedown="startresize(event, this.parentNode)">&nbsp;</div><%= t('suite_de_test') %>/<%= t('test') %></th>
		<th name="thresizable" class="tablethreport"><div class="divgrip" onmousedown="startresize(event, this.parentNode)">&nbsp;</div><%= t('soumis_par') %></th>
		<th name="thresizable" class="tablethreport"><div class="divgrip" onmousedown="startresize(event, this.parentNode)">&nbsp;</div><%= t('status') %></th>
		<th name="thresizable" class="tablethreport"><div class="divgrip" onmousedown="startresize(event, this.parentNode)">&nbsp;</div><%= t('ecr_run.proc_en_erreur') %></th>
		<th name="thresizable" class="tablethreport"><div class="divgrip" onmousedown="startresize(event, this.parentNode)">&nbsp;</div><%= t('ecr_run.photo_en_diff') %></th>
		<th name="thresizable" class="tablethreport"><div class="divgrip" onmousedown="startresize(event, this.parentNode)">&nbsp;</div><%= t('date_debut') %></th>
		<th name="thresizable" class="tablethreport"><div class="divgrip" onmousedown="startresize(event, this.parentNode)">&nbsp;</div><%= t('duree') %></th>
		<th name="thresizable" class="tablethreport"><%= t('actions') %></th>
	</tr>
</thead>