<div id="left">
	<div id="btnresize" class="btnresize" onmousedown="startresizediv(event, this);"></div>
	<span  style='float: left;' class="titleStyle" style="color:#000000">&nbsp;<%= t('test') %> : <b><%if @atdd == "2"%><%= @test.description  %><%else%><%= @test.name  %><%end%></b>  </span>
	<% if @testLocked == false %>
		<button id='btnvalidstruct' class="buttonred" style="float:right;display:inline-block;" title='<%=  t('ecr_test.valider_structure') %>' onclick="document.getElementById('formvalidstruct').submit();"><%=  t('ecr_test.valider_structure') %></button>
	<% end %>
	
	<button class="btnrefresh" title="<%= t('recharger') %>" onclick="startloader();
				document.getElementById('formreload').submit();"></button>
	<button id='btnreport' class='btnreport' style="float: left;display:inline-block;" title="<%= t('rapport') %>" onclick="document.getElementById('contentpopup').innerHTML = '<object id=\'objpopup\' width=\'99%\' data=\'../runs/index?rd=1&popup=true&test_id=<%= @test_id %>\'></object>';window.location.href = '#popup';document.getElementById('popup').style.display = 'block';
				  document.getElementById('objpopup').setAttribute('height', 0.89 * document.body.offsetHeight);"> </button>
	<% if @popup.to_s != 'true' and @atddsteps.to_s != "1" %>
		  <% if @can_do_something == 1 %>
			<button id='btnlaunch' class='btnlaunch' style='float: left;display:inline-block;' title="<%=  t('tester') %>" onclick="document.getElementById('contentpopup').innerHTML = '<object id=\'objpopup\' width=\'99%\' data=\'../run_configs/testindex?popup=true&type=test&elem_id=<%= @test_id %>\'></object>';window.location.href = '#popup';
						document.getElementById('popup').style.display = 'block';
						document.getElementById('objpopup').setAttribute('height', 0.89 * document.body.offsetHeight);"></button>
		  <%end%>
	<%else%>
	<% end %>
	<br>
	<br>
	<input type="checkbox" id="checkall" name="checkall" onclick="checkuncheckall();"/><span class="textStyle"> <%= t('tous_aucun') %></span>
	
	<%= render :partial => 'tests/insert_code' %>
	<%= render :partial => 'tests/filter_paste_copy_cut' %>
	<%= render :partial => 'tests/insert_var' %>



	<div id="steps">
		<% if @teststeps != nil
			@teststeps.each do |step|
				if step.procname != nil %>
					<%= render :partial => 'tests/step_proc', :locals => {:step => step} %>
				<%else%>
					<%= render :partial => 'tests/step_atdd', :locals => {:step => step} %>
				<% end 
			end 
		end	%>
	</div>
	
	<%= render :partial => 'tests/step_forms' %>

</div>


<script>
	if (getCookie("step_to_paste<% if @atdd == "1"%>1<%else%>0<%end%>") != "") {
		showpasteafterbeforebutton();
	}
	<% if @test.is_valid.to_s != "1" %>
		if (document.getElementById('btnvalidstruct')) {
		  document.getElementById('btnvalidstruct').style.display = 'inline-block'
		}
		if (document.getElementById('btnlaunch')) {
		  document.getElementById('btnlaunch').style.display = 'none';}
	<% else %>
		if (document.getElementById('btnvalidstruct')) {
		  document.getElementById('btnvalidstruct').style.display = 'none';
		}
		if (document.getElementById('btnlaunch')) {
		  document.getElementById('btnlaunch').style.display = 'inline-block';
		}
	<% end %>
</script>