<div id="left">
	<div id="btnresize" class="btnresize" onmousedown="startresizediv(event, this);"></div>

	<form id="kanban_liste" method="post">	
		<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
		<table >
			<tr>
				<td><input size=20 type="text" spellcheck='false' name="sname" id="sname" value="<%= @sname %>" class="recherche" placeholder="<%= t('input.placeholder.recherche') %>"/></td>
				<td><input value="" name="search" type="submit" class="btnsearch" vertical-align="middle" onclick="startloader();
					  document.getElementById('namec').required = false;"/></td>
			</tr>
		</table>

		<% if @kanbans != nil
		  @kanbans.each do |kanban| %>
			<a class="ligthline" id="kanban<%=  kanban.id%>" href="../kanbans/getone?kanban_id=<%= kanban.id %>" onclick='startloader();'><%if kanban.private.to_s == "1" %><div class='marqueprivate' style='float: left;' title="<%=t('privee')%>"></div><%end%><%= kanban.name %></a>
		  <%  end 
		end%>

	</form>

</div>